/* Установка универсального box-sizing */
* {
    box-sizing: border-box;
}

/* Стили для body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

/* Стили для контейнера */
.container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовка h1 */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Стили для навигационной панели */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5;
}

.navbar li {
    display: inline-block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.navbar li:hover {
    background-color: #e0e0e0;
}

.navbar li a {
    text-decoration: none;
    color: #333;
}

/* Стили для формы */
form {
    width: 300px;
    margin: 0 auto;
}

/* Стили для полей ввода */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стили для кнопок */
input[type="submit"] {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Горизонтальное расположение кнопок */
form input[type="submit"] {
    margin-right: 10px;
}
