/* Общий стиль таблицы */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Стиль заголовков таблицы */
th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 10px;
}

/* Стиль ячеек таблицы */
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Нечетные строки таблицы */
tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Стилизация ссылок */
a {
  text-decoration: none;
  color: #0066cc;
}

a:hover {
  text-decoration: underline;
}

/* Стилизация формы редактирования */
form {
  display: inline-block;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="submit"]:active {
  background-color: #3e8e41;
}

<style>
    .navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        text-align: center; /* Изменено на text-align */
        background-color: #f5f5f5;
    }

    .navbar li {
        display: inline-block;
        padding: 10px;
        transition: background-color 0.3s ease;
    }

    .navbar li:hover {
        background-color: #e0e0e0;
    }

    .navbar li a {
        text-decoration: none;
        color: #333;
    }
</style>